<header>
  <div class="brand">
    <strong class="h1">Tiago Depizzol</strong><br/>
    <span class="subtitle">Software Engineer</span>
  </div>
  <div class="contactImages">
    <a href="https://www.linkedin.com/in/tiago-depizzol/" target="_blank">
      <img src="/images/contactImages/linkedin-gray.svg" alt="Linkedin" />
    </a>
    <a href="https://github.com/depizzolx" target="_blank">
      <img src="/images/contactImages/github-gray.svg" alt="Github" />
    </a>
    <a href="mailto:depizzol.x@gmail.com" target="_blank">
      <img src="/images/contactImages/gmail-gray.svg" alt="Gmail" />
    </a>
  </div>
  <!-- <div class="techImages">
    <img src="/images/techImages/java-gray.svg" alt="Java" />
    <img src="/images/techImages/angular-gray.svg" alt="Angular" />
    <img src="/images/techImages/spring-gray.svg" alt="Spring Boot" />
    <img src="/images/techImages/database-gray.svg" alt="Database" />
  </div> -->
</header>
