header {
  padding: 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 750px;

  .brand {
    .h1 {
      font-size: 2.8rem;
      font-family: 'Inter', monospace;
      margin-bottom: 0rem;
      color: var(--title-color);
    }

    .subtitle {
      color: var(--subtitle-color);
      font-size: 1.05rem;
    }
  }

  .techImages, .contactImages {
    display: flex;
    gap: 1.5rem;
    margin-right: 1rem;
  }

  .techImages img,
  .contactImages img {
    height: 26px;
    width: 26px;
  }

  p {
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 0;

    &:hover {
      color: var(--title-color);
    }
  }
}
