header {
  padding: 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 750px;

  .brand {
    h1 {
      font-size: 2rem;
      margin-bottom: 0rem;
      letter-spacing: -0.04em;
      color: var(--title-color);
    }

    .subtitle {
      color: var(--subtitle-color);
      font-size: 1rem;
    }
  }

  .techImages {
    display: flex;
    gap: 1.5rem;
    height: 30px;
    width: 30px;
    margin-right: 10rem;
  }
}
