.hero {
  margin-bottom: 4rem;

  .intro {
    font-size: 1.1rem;
    color: var(--text-color);
    max-width: 800px;
    line-height: 1.9;

    strong {
      color: var(--accent-color);
      font-weight: 400;
    }
  }
}
