.hero {
  margin-top: 1rem;
  margin-bottom: 6.5rem;

  .intro {
    font-size: 1.2rem;
    color: var(--text-color);
    max-width: 800px;
    line-height: 1.9;

    strong {
      color: var(--accent-color);
      font-weight: 400;
    }
  }
}
