<section class="hero">
  <p class="intro">
    Software Engineer focused on <strong>Back-End Development</strong> and <strong>Data Engineering</strong>.
    <br/>
    My core expertise lies in the <strong>Java Ecosystem</strong> and <strong>Oracle Database</strong> to building robust APIs and optimizing high-volume systems. Currently revitalizing core legacy systems for high scalability at <a href="https://www.linkedin.com/company/wise-systems/" target="_blank" class="company-link"><strong>Wise Group</strong></a>.<br/>
    Continuously expanding my expertise in <strong>Spring Boot</strong> and <strong>Angular</strong> to deliver modern, high-performance solutions.
  </p>
</section>
