.section-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--text-muted);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.boxProject {
  border: 1.6px solid var(--text-muted);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, border-color 0.3s ease;
  background-color: var(--bg-color);
  position: relative;
  width: 195px;
  margin: 0 auto;

  &:hover {
    transform: scale(1.10);
    border-color: var(--accent-color);

    .projectName {
      color: var(--accent-color);
    }

    .languages {
      opacity: 1;
      max-height: 100px;
      margin-top: 0.5rem;
      color: var(--text-muted);
    }

    .icon {
      opacity: 1;
      color: var(--accent-color);
    }
  }
}

.projectLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.2rem;
  height: 100%;
}

.projectName {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  transition: color 0.3s ease;
  margin-top: 0.7rem;
}

.languages {
  font-size: 0.8rem;
  color: var(--text-muted);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-top: 0;
}

.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.5;
  transition: all 0.3s ease;
  color: var(--text-muted);
}
