<section id="education">
  <h2 class="section-title">Education</h2>
  <div class="list">
    <div class="item" *ngFor="let edu of education">
      <div class="periodYear">
        <div class="verticalLine"></div>
        <div class="finalYear">{{ edu.finalYear }}</div>
        <div class="initialYear">{{ edu.initialYear }}</div>
      </div>

      <div class="content">
        <h3 class="degree">{{ edu.degree }}</h3>
        <div class="university">{{ edu.university }}</div>
      </div>

      <div class="skills-placeholder"></div>
    </div>
  </div>
</section>
