section {
  margin-top: 4rem;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.job {
  display: grid;
  grid-template-columns: 100px 1fr 190px;
  gap: 2rem;
  align-items: flex-start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .periodYear {
    position: relative;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .finalYear {
    font-size: 1.5rem;
    color: var(--text-muted);
    font-weight: 300;
  }

  .initialYear {
    font-size: 1rem;
    color: var(--text-muted);
    font-weight: 300;
  }

  .verticalLine {
    position: absolute;
    left: 0;
    top: 6px;
    width: 2px;
    height: 55px;
    background-color: var(--text-muted);
    border-radius: 1px;
    margin-top: 10px;
  }

  .content {
    .role {
      font-size: 1.2rem;
      color: var(--text-color);
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    .company {
      color: var(--text-muted);
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    .description {
      color: var(--text-muted);
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 0;
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: flex-start;
    }

    .skill-tag {
      font-size: 0.9rem;
      color: var(--text-muted);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
