<section id="experience">
  <div class="job-list">
    <div class="job" *ngFor="let job of jobs">
      <div class="periodYear">
        <div class="verticalLine"></div>
        <div class="finalYear">{{ job.finalYear }}</div>
        <div class="initialYear">{{ job.initialYear }}</div>
      </div>
      <div class="content">
        <h3 class="role">{{ job.role }}</h3>
        <div class="company">{{ job.company }}</div>
        <p class="description">{{ job.description }}</p>
      </div>

      <div class="skills">
        <span *ngFor="let skill of job.skills" class="skill-tag">{{ skill }}</span>
      </div>
    </div>
  </div>
</section>
